.main__header{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 7rem;

      
}
.main__header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-left: 8%;

}

.main__header-left{
    margin-top: -3rem;
    
}

.main__header-left h4 {
     margin-bottom: 1rem;
     color: var(--color-secondary);
     font-weight: 400;
} 


.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.btn {
    color: var(--color-gray-100);
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--color-primary);
    border-radius: 1.5rem;
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-secondary);
    color: var(--color-gray-600);

}

.btn.lg {
    padding: 1.2rem 2rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}

.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}

.btn.sm:hover {
    background: var(--color-gray-100);
}